@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);


body{
    font-family: "Poppins", sans-serif; 
    background-color: #f8ccf4;
}

h2{
    font-size: 4.6vmin;
    font-weight: 500;
}

.center-container{ 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 75vh;
}

.inline{
    display: inline-block;
}

.link{
    position: relative;
    margin: auto;
    font-size: 2.3vmin;
}

.button-to-link{
    font-family: "Poppins", sans-serif; 
    font-size: 2.3vmin;
    border: none;
    background-color: transparent;
    text-decoration: underline;
    display: inline-block;
    padding: 8px 16px;
}

a, button{
    font-size: 1.2rem;
}


/* HEADER */
.header {
    margin: 2.5rem;
    display: flex;
    align-items: flex-end;
  }
  
  .home-logo {
    cursor: pointer;
    font-size: 3.6vmin;
  }
  
  .nav-bar {
    display: flex;
    margin-left: auto; /* Aligns the nav-bar to the right */
  }
  
  .page-option {
    font-size: 2vmin;
    margin-left: 3rem;
    text-decoration: none;
    color: black;
  }

/* MOODRING (just centers stuff in the div) */
.color-word{
    padding: 0 1rem;
}
.ellipse{
    width: 45vmin; /* Adjust the initial size as needed */
    padding-bottom: 45vmin; /* Set padding to maintain aspect ratio (height will be the same as width) */
    border-radius: 45vmin; /* Create a perfect circle using border-radius */
    margin-bottom: 1rem;
    border: 2px solid white;
}

.subtitle{
  margin: 0;
}

.mood-options {
    display: flex;
    justify-content: center;
    align-items: center;
    }


/* FOOTER */
.footer{
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
 }

 .footer-button{
    display: inline-block;
    font-size: small; 
    margin-top: 2rem;
 }

 

 /* PRIVACY & ABOUT */
 .privacy{
  width: 70%;
 }
 
 a{
  font-size: medium;
  color: black;
 }
